{{ "<!-- About Section -->" | safeHTML }}
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.about.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3>
                  <i class="fa fa-{{.Site.Params.about.skills.icon}}"></i>
                  {{ with .Site.Params.about.skills.title}}{{.}}{{ end }}
                </h3>
              </div>
              <table class="table table-hover">
                <tbody>
                  {{ range sort .Site.Data.skills ".id" "asc"}}
                  <tr>
                    <td>
                      <i class="fa fa-{{ .icon }}"></i>
                    </td>
                    <td>
                      <b>{{ .title }}</b>
                    </td>
                    <td>
                      {{ .text }}
                    </td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3>
                  <i class="fa fa-{{.Site.Params.about.education.icon}}"></i>
                  {{ with .Site.Params.about.education.title}}{{.}}{{ end }}
                </h3>
              </div>
              <table class="table table-hover">
                <tbody>
                  {{ range sort .Site.Data.education ".date" "desc"}}
                  <tr>
                    <td>
                      {{ .date }}
                    </td>
                    <td>
                      <b>{{ .text }}</b>
                    </td>
                    <td>
                      {{ .address }}
                    </td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3>
                  <i class="fa fa-{{.Site.Params.about.languages.icon}}"></i>
                  {{ with .Site.Params.about.languages.title}}{{.}}{{ end }}
                </h3>
              </div>
              <table class="table table-hover">
                <tbody>
                  {{ range sort .Site.Data.languages ".id" "asc"}}
                  <tr>
                    <td>
                      <b>{{ .title }}</b>
                    </td>
                    <td>
                      {{ .text }}
                    </td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
        </div>
        </div>
    </div>
</section>
