{{ "<!-- About Section -->" | safeHTML }}
<section class="success scrollspy" id="about">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="header">{{ with .Site.Params.about.title }}{{.}}{{ end }}</h2>
      </div>
    </div>
    <div class="row">

      <div class="col s12">
        <h3 class="header">
          <i class="fa fa-{{.Site.Params.about.skills.icon}}"></i>
          {{ with .Site.Params.about.skills.title}}{{.}}{{ end }}
        </h3>
        <ul class="collection">
          {{ range sort .Site.Data.skills ".id" "asc"}}
          <li class="collection-item avatar">
            <i class="circle fa fa-{{ .icon }} {{ .color }}"></i>
            <span class="title">{{ .title }}</span>
            <p>{{ .text }}</p>
          </li>
          {{ end }}
        </ul>
      </div>

      <div class="col s12">
        <h3 class="header">
          <i class="fa fa-{{.Site.Params.about.languages.icon}}"></i>
          {{ with .Site.Params.about.languages.title}}{{.}}{{ end }}
        </h3>
        <ul class="collection">
          {{ range sort .Site.Data.languages ".id" "asc"}}
          <li class="collection-item avatar">
            <i class="circle white"><span class="flag flag-svg-small flag-{{ .lang }}"></span></i>
            <span class="title">{{ .title }}</span>
            <p>{{ .text }}</p>
          </li>
          {{ end }}
        </ul>
      </div>

      <div class="col s12">
        <h3 class="header">
          <i class="fa fa-{{.Site.Params.about.languages.icon}}"></i>
          {{ with .Site.Params.about.education.title}}{{.}}{{ end }}
        </h3>
        <ul class="collection">
          {{ range sort .Site.Data.education ".date" "desc"}}
          <li class="collection-item avatar">
            <i class="circle fa fa-{{ .icon }} {{ .color }}"></i>
            <span class="badge">{{ .date }}</span>
            <span class="title">{{ .text }}</span>
            <p>{{ .address }}</p>
          </li>
          {{ end }}
        </ul>
      </div>

    </div>
  </div>
</section>
