{{ "<!-- Footer -->" | safeHTML }}
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ with .Site.Params.footer.location.title }}{{.}}{{ end }}</h5>
        {{ with .Site.Params.footer.location.address }}
        <p class="grey-text text-lighten-4">
          {{ range $i, $e := $.Site.Params.footer.location.address }}
          {{ if $i }}<br>{{ end }}
          {{ $e }}
          {{ end }}
        </p>
        {{ end }}
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">{{ with .Site.Params.footer.social.title }}{{.}}{{ end }}</h5>
        <ul class="list-inline">
          {{ range .Site.Params.footer.social.networks }}
          <li>
            <a href="{{ .link }}" class="btn-floating btn-large waves-effect waves-light"><i class="fa fa-fw {{ .icon }}"></i></a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      {{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}
    </div>
  </div>
</footer>
