{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" class="scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="header">{{ with .Site.Params.portfolio.title }}{{.}}{{end}}</h2>
      </div>
    </div>
    <div class="row">
    {{ range sort .Site.Data.projects "modalID" "desc"}}
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/portfolio/{{ .img }}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ .title }}<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ .title }}<i class="material-icons right">close</i></span>
            <p>{{ .description | markdownify }}</p>
            <ul class="list-inline item-details">
                {{ if .contributor }}
                <li>{{ with $.Site.Params.portfolio.modal.contributor }}{{.}}{{ end }}:
                    <strong><a href="{{ .contributorLink }}">{{ .contributor }}</a></strong>
                </li>
                {{ end }}
                <li>{{ with $.Site.Params.portfolio.modal.date }}{{.}}{{ end }}:
                    <strong>{{ .date }}</strong>
                </li>
                <li>{{ with $.Site.Params.portfolio.modal.language }}{{.}}{{ end }}:
                    <strong>{{ .language }}</strong>
                </li>
                <li>{{ with $.Site.Params.portfolio.modal.library }}{{.}}{{ end }}:
                    <strong>{{ .library }}</strong>
                </li>
            </ul>
          </div>
        </div>
      </div>
      {{ if (modBool (add .modalID 2) 3)}}
    </div>
    {{ end }}
    {{ if (modBool (add .modalID 2) 3)}}
    <div class="row">
    {{ end }}
    {{ end }}
  </div>
</div>
</section>
